<div class="month-calendar-wrapper p-3">
  <span class="flex justify-center"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
  <div class="flex justify-between mb-3">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>

  <table class="table-fixed border-collapse mx-auto" style="table-layout: fixed; width: 100%;">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="bg-gray-100 border"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody style="height: 500px;">
      <% date_range.each_slice(7) do |week| %>
        <tr style="height: 100px; vertical-align: top;">
          <% week.each do |day| %>
            <%= content_tag :td, class: 'calendar.td_classes_for(day) border' do %>
              <div style="overflow-x: scroll;">
                <ul class="list-disc list-inside" style="white-space: nowrap;">
                  <li>
                    <% diary = current_user.kitchen_garden.diaries.find_by(created_at: day.beginning_of_day..day.end_of_day) %>
                    <%= link_to "#{day.day}#{diary ? '📕' : ''}", diary ? mypage_diary_path(diary) : new_mypage_diary_path(date: day) %>                    
                  </li>
                  <% if day == Date.today %>
                    <li>Today</li>
                  <% end %>
                  <% if @plantings.present? %>
                    <% @plantings.each do |planting| %>
                      <% if day == planting.sowing_date %>
                        <li><%= planting.vegetable.name %>の種まきをした日</li>
                      <% end %>
                      <% if day == planting.germination_date %>
                        <li><%= planting.vegetable.name %>の芽が出た日</li>
                      <% end %>
                      <% if day == planting.seedling_date %>
                        <li><%= planting.vegetable.name %>の苗を植えた日</li>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

