<%= form_with model: post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 3 %>
  </div>

  <%= f.submit class: 'btn btn-primary'  %>
<% end %>
