<div class="container">
  <div class="card mb-3">
    <div class="flex justify-between align-items-center mt-3">
      <%= link_to '戻る', posts_path, class: 'btn btn-primary btn-sm' %>
      <% if current_user&.mine?(@post) %>
        <%= form_with url: post_path(@post), method: :delete, class: 'inline-block' do %>
            <%= submit_tag '削除', class: 'btn btn-danger btn-sm' %>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <h2 class="h2"><%= @post.content %></h2>
    </div>
  </div>
  <div class="card-body">
    <%= form_with model: [@post, @comment] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-3">
        <%= f.label :comment %>
        <%= f.text_area :content, rows: 3, class: 'form-control' %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
    <hr>
    <div class="p-5">
      <ul class="list-unstyled">
        <%= render partial: 'posts/comments/comment', collection: @post.comments.order(created_at: :desc) %>
      </ul>
    </div>
  </div>
</div>
